@charset "UTF-8";

/*SVG'S ANIMATION*/


@keyframes dash {
  from {
    stroke-dashoffset: 880;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash2 {
   from {
     stroke-dashoffset: 900;
   }
   to {
     stroke-dashoffset: 0;
   }
 }
@keyframes dash3 {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-it{
    100%{
        fill: #000;
    }
}
/*@keyframes fill-it2{
    100%{
        fill: #000;
    }
}*/










