@charset "UTF-8";

/*SVG'S ANIMATION*/


@keyframes dash {
  from {
    stroke-dashoffset: 340;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash-small {
   from {
     stroke-dashoffset: 194;
   }
   to {
     stroke-dashoffset: 0;
   }
 }

@keyframes dash-l {
    from {
        stroke-dashoffset: 350;
    }
    to {
        stroke-dashoffset: 0;
    }
}


@keyframes dash-iz {
    from {
        stroke-dashoffset: 250;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes dash-s {
    from {
        stroke-dashoffset: 390;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes dash-t {
    from {
        stroke-dashoffset: 222;
    }
    to {
        stroke-dashoffset: 0;
    }
}


@keyframes fill-it{
    50%{
        fill: rgba(255, 255, 255,0.5);
    }
    100%{
        fill: rgba(255, 255, 255,1);
    }
}
@keyframes changecolor{
    0%, 100% {
        color: rgb(169, 144, 122);
    }
    50% {
        color: #3f342c;
    }
}









