@charset "UTF-8";

/*SVG'S ANIMATION*/


@keyframes dash {
  from {
    stroke-dashoffset: 320;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash-small {
   from {
     stroke-dashoffset: 131;
   }
   to {
     stroke-dashoffset: 0;
   }
 }

@keyframes dash-l {
    from {
        stroke-dashoffset: 99;
    }
    to {
        stroke-dashoffset: 0;
    }
}


@keyframes dash-iz {
    from {
        stroke-dashoffset: 170;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes dash-stec {
    from {
        stroke-dashoffset: 113;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill-it{
    100%{
        fill: rgba(255, 255, 255, 0.85);
    }
}
/*@keyframes fill-it2{
    100%{
        fill: #000;
    }
}*/










