RedirectMatch 301 /presto.html http://mwojtasguitars.pl
RedirectMatch 301 /telecasterwinyl.html http://mwojtasguitars.pl
RedirectMatch 301 /SGslavic5.html http://mwojtasguitars.pl
RedirectMatch 301 /akustykrelic.html http://mwojtasguitars.pl
RedirectMatch 301 /explorerhelroth.html http://mwojtasguitars.pl
RedirectMatch 301 /fireman2.html http://mwojtasguitars.pl
RedirectMatch 301 /rr.html http://mwojtasguitars.pl
RedirectMatch 301 /firebird.html http://mwojtasguitars.pl



