@charset "UTF-8";

/* COUNTER ANIMATION */
.counter{
  top: 92px;
  left: 96px;
  position: absolute;
}
.counter span {
  float:left;
  width:22px;
  height:30px;
  text-indent:-9999px;
  font-size:0.0001em;
  background-image:url("../img/counter-2.png");
}

.counter .digit-9 {
  background-position:0 -270px;

  animation-name: digitSpin9;
  animation-duration: 3.6s;
  animation-iteration-count: 1;

  -webkit-animation-name: digitSpin9;
  -webkit-animation-duration: 3.6s;
  -webkit-animation-iteration-count: 1;

  -moz-animation-name: digitSpin9;
  -moz-animation-duration: 3.6s;
  -moz-animation-iteration-count: 1;
}

@keyframes digitSpin9 {
  from { background-position:0 0; }
  to { background-position:0 -270px; }
}
@-webkit-keyframes digitSpin9 {
  from { background-position:0 0; }
  to { background-position:0 -270px; }
}
@-moz-keyframes digitSpin9 {
  from { background-position:0 0; }
  to { background-position:0 -270px; }
}

.counter .digit-8 {
  background-position:0 -240px;

  animation-name: digitSpin8;
  animation-duration: 3.4s;
  animation-iteration-count: 1;

  -webkit-animation-name: digitSpin8;
  -webkit-animation-duration: 3.4s;
  -webkit-animation-iteration-count: 1;

  -moz-animation-name: digitSpin8;
  -moz-animation-duration: 3.4s;
  -moz-animation-iteration-count: 1;
}

@keyframes digitSpin8 {
  from { background-position:0 0; }
  to { background-position:0 -240px; }
}
@-webkit-keyframes digitSpin8 {
  from { background-position:0 0; }
  to { background-position:0 -240px; }
}
@-moz-keyframes digitSpin8 {
  from { background-position:0 0; }
  to { background-position:0 -240px; }
}

.counter .digit-7 {
   background-position:0 -210px;

   animation-name: digitSpin7;
   animation-duration: 3.4s;
   animation-iteration-count: 1;

   -webkit-animation-name: digitSpin7;
   -webkit-animation-duration: 3.4s;
   -webkit-animation-iteration-count: 1;

   -moz-animation-name: digitSpin7;
   -moz-animation-duration: 3.4s;
   -moz-animation-iteration-count: 1;
 }

@keyframes digitSpin7 {
  from { background-position:0 0; }
  to { background-position:0 -210px; }
}
@-webkit-keyframes digitSpin7 {
  from { background-position:0 0; }
  to { background-position:0 -210px; }
}
@-moz-keyframes digitSpin7 {
  from { background-position:0 0; }
  to { background-position:0 -210px; }
}

.counter .digit-0 {
  background-position:0 -300px;

  animation-name: digitSpin0;
  animation-duration: 3.4s;
  animation-iteration-count: 1;

  -webkit-animation-name: digitSpin0;
  -webkit-animation-duration: 3.4s;
  -webkit-animation-iteration-count: 1;

  -moz-animation-name: digitSpin0;
  -moz-animation-duration: 3.4s;
  -moz-animation-iteration-count: 1;
}

@keyframes digitSpin0 {
  from { background-position:0 0; }
  to { background-position:0 -300px; }
}
@-webkit-keyframes digitSpin0 {
  from { background-position:0 0; }
  to { background-position:0 -300px; }
}
@-moz-keyframes digitSpin0 {
  from { background-position:0 0; }
  to { background-position:0 -300px; }
}

.counter .digit-5 {
  background-position:0 -150px;

  animation-name: digitSpin5;
  animation-duration: 3.4s;
  animation-iteration-count: 1;

  -webkit-animation-name: digitSpin5;
  -webkit-animation-duration: 3.4s;
  -webkit-animation-iteration-count: 1;

  -moz-animation-name: digitSpin5;
  -moz-animation-duration: 3.4s;
  -moz-animation-iteration-count: 1;
}

@keyframes digitSpin5 {
  from { background-position:0 0; }
  to { background-position:0 -150px; }
}
@-webkit-keyframes digitSpin5 {
  from { background-position:0 0; }
  to { background-position:0 -150px; }
}
@-moz-keyframes digitSpin5 {
  from { background-position:0 0; }
  to { background-position:0 -150px; }
}

.counter .digit-p {
  background-position:0 -330px;

  animation-name: digitSpinp;
  animation-duration: 3.2s;
  animation-iteration-count: 1;

  -webkit-animation-name: digitSpinp;
  -webkit-animation-duration: 3.2s;
  -webkit-animation-iteration-count: 1;

  -moz-animation-name: digitSpinp;
  -moz-animation-duration: 3.2s;
  -moz-animation-iteration-count: 1;
}

@keyframes digitSpinp {
  from { background-position:0 0; }
  to { background-position:0 -330px; }
}
@-webkit-keyframes digitSpinp {
  from { background-position:0 0; }
  to { background-position:0 -330px; }
}
@-moz-keyframes digitSpinp {
  from { background-position:0 0; }
  to { background-position:0 -330px; }
}


/*SVG'S ANIMATION*/


@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash2 {
   from {
     stroke-dashoffset: 300;
   }
   to {
     stroke-dashoffset: 0;
   }
 }
@keyframes dash3 {
  from {
    stroke-dashoffset: 320;
  }
  to {
    stroke-dashoffset: 0;
  }
}









