@charset "UTF-8";

/*SVG'S ANIMATION*/


@keyframes dash {
  from {
    stroke-dashoffset: 320;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash2 {
   from {
     stroke-dashoffset: 250;
   }
   to {
     stroke-dashoffset: 0;
   }
 }
@keyframes dash3 {
  from {
    stroke-dashoffset: 394;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-it{
    100%{
        fill: #222223;
    }
}
@keyframes fill-it2{
    100%{
        fill: #26a9e0;
    }
}










