/*  ANIMATION SVG CUPCAKE   */
@keyframes squash {

    0%, 100% {
        transform-origin: 50% 100%;
    }

    0% {
        transform:  translate(0%,-120%)  scaleX(0.50) scaleY(1.50) ;
        opacity: 0;
    }
    11% {
        transform:  translate(0%,-90%)  scaleX(0.41) scaleY(1.59) ;
        opacity: .1;
    }
    30% {
        transform:  translate(0%,-58%)  scaleX(0.25) scaleY(1.75) ;
        opacity: 1;
    }
    35% {
        transform:  translate(0%,-18%)  scaleX(1.30) scaleY(0.40) ;

    }
    46% {
        transform:  translate(0%,2%)  scaleX(1.40) scaleY(0.0) ;

    }
    54% {
        transform:  translate(0%, 2%)  scaleX(0.80) scaleY(1.20) ;
    }
    66% {
        transform:  translate(0%,0%)  scaleX(1.20) scaleY(0.85) ;

    }
    78% {
        transform:  translate(0%,0%)  scaleX(0.95) scaleY(1.15) ;
    }
    100% {
        transform: inherit;
    }
}

/*@keyframes squash {

    0%, 100% {
        transform-origin: 50% 100%;
    }

    0% {
        transform: scaleX(0.50);
        opacity: 0;
    }
    11% {
        transform: scaleX(0.41);
        opacity: .1;
    }
    30% {
        transform: scaleX(0.25);
        opacity: 1;
    }
    35% {
        transform: scaleX(1.10);

    }
    46% {
        transform: scaleX(1.20);

    }
    54% {
        transform: scaleX(0.80);
    }
    66% {
        transform: scaleX(1.20);

    }
    78% {
        transform: scaleX(0.95);
    }
    100% {
        transform: inherit;
    }
}*/




@keyframes pulse {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
/*@keyframes pulse_window {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
        fill: #838383;
    }
    100% {
        opacity: 1;
    }
}*/
@keyframes bounce{
    0% {
        bottom: -135px
    }
    50% {
        bottom: -125px;
    }
    100% {
        bottom: -135px;
    }
}
@keyframes move_in {
    0% {
        bottom: -254px;
        margin-right: -251px;
    }
    100% {
        bottom: -87px;
        margin-right: -87px;
    }
}
@keyframes move_in_second {
    0% {
        /*bottom: -154px;*/
        opacity:0;
    }
    100% {
        /*bottom: -63px;*/
        opacity:1;
    }
}
